# Core ML + NLP
sentence-transformers==5.1.2
transformers==4.57.1
tokenizer==0.22.1

# PyTorch (Mac M3/M2/M1 auto-selects CPU/MPS)
torch==2.2.0

# Data manipulation
pandas==2.2.3
numpy==1.26.4

# Visualization
matplotlib==3.8.2
seaborn==0.13.2

# Utilities
tqdm==4.66.1
scikit-learn==1.4.0

# Jupyter
ipykernel==6.29.0
jupyterlab==4.1.0
notebook==7.0.7

# others
pydantic
pydantic_settings
hopsworks
pyarrow==22.0.0
langchain==1.0.7
langchain-openai==1.0.3
catboost==1.2.8
tensorflow==2.16.2
tensorflow_recommenders==0.7.3
tf-keras==2.20.1
